body {
  background-color: #f2f2f2;
}

.first {
  display: flex;

  justify-content: center;
}
.second {
  width: 350px;
  margin-top: 70px;
  background-color: white;
  border-radius: 10px;
}
.mr {
  text-align: center;
  margin: 20px;
}

h2 {
  padding: 10px;
  text-align: center;
}
